@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic);

html {

  body, #body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $orange-triangles;
    background-size: 100%;
  }

  ion-content {
    background-size: 100%;
  }

  .pane {
    background: transparent;      
  }

  .loader {
    background: transparent url(../img/loader.gif?5) center center no-repeat;
    width: 32px;
    display: inline-block;
    margin-left: 10px;
  }

  .text-center {
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .back {
    cursor: pointer;
    font-size: 12px;
    color: $darkgrey;
    position: absolute;
    right: $unit;
  }

  hr {
    border: 0;
    border-top: 1px solid $darkgrey;
  }

  .large {
    .scroll-content, .ionic-scroll {
      overflow-y: auto;
    }
  }

  .backdrop, .modal-backdrop-bg, .active .modal-backdrop-bg {
    background: $dark-orange-triangles;
    background-size: 100%;
    opacity: 1;
  }
}
