.sidebar {
  h2 {
    font-size: 16px;
    color: $white;
    padding: 50px 10px;
    background: $darkgreen;

    span {
      line-height: 46px;
    }
  }

  h3 {
    color: $lightgreen;
    font-size: 20px;
    font-weight: 400;
    padding: 3px 10px;
  }

  label {
    cursor: pointer;
  }

  button {
    margin-left: 30px;
  }

  .my-city-cbox {
    padding: 0;
    margin-bottom: -6px;
  }

  .choose-city {
    a {
      cursor: pointer;
    }

    select {
      width: 100%;
    }
  }
}
