<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">
    <meta property="og:description" content="Comente minha proposta para a 3ª Conferência Nacional de Juventude!" />
    <meta property="og:image" content="http://app.juventude.gov.br/img/avatar.png" />

    <title>#3confjuv</title>

    <!-- CSS -->
    <link href="lib/ionic/css/ionic.css?1" rel="stylesheet">
    <link href="css/ionic.app.min.css?1" rel="stylesheet">
    <link href="css/ionic.tdcards.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>
    <script src="js/i18n.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/ionic.tdcards.js"></script>
    <script src="js/collide.js"></script>
  </head>
  <body ng-app="confjuvapp" ng-controller="ProposalCtrl" ng-init="init()" ng-class="{ 'logged-in': loggedIn, 'large': largeScreen }"  animation="slide-left-right-ios7">

    <ion-view ng-show="introDisplayed">
      <ng-include src="'html/_intro.html'"></ng-include>
    </ion-view>

    <ion-side-menus id="body" ng-show="!introDisplayed">
      <ion-side-menu-content>
        <ng-include src="'html/_header.html?2'"></ng-include>
        <ion-pane>
          <ion-content id="proposals-container" no-scroll="">
            <ng-include src="'html/_proposal_list.html?8'"></ng-include>
          </ion-content>
        </ion-pane>
      </ion-side-menu-content>

      <ion-side-menu side="right" is-enabled="true" expose-aside-when="large">
        <ng-include src="'html/_right_sidebar.html?10'"></ng-include>
      </ion-side-menu>
    </ion-side-menus>

    <button class="button button-float" ng-show="loggedIn" ng-click="openCreateProposalForm()">
      <i class="icon ion-edit"></i>
    </button>
  </body>
</html>
